-- XMobar config
--
Config { font    = "xft:Hack:pixelsize=10:antialias=true:hinting=true"
       , additionalFonts = [ "xft:Hack:pixelsize=10" ]
       , bgColor = "#444444"
       , fgColor = "#d7d7d7"
       , position = Top
       , lowerOnStart = True
       , hideOnStart = False
       , allDesktops = True
       , persistent = True
       , iconRoot = "/home/crow/.xmonad/xpm/"  -- default: "[NERD]"
       , commands = [ Run Date "%b %d %Y  %H:%M:%S" "date" 10
                    , Run Alsa "default" "Master" ["-t", "vol:<volume>% " ] 
                    , Run DynNetwork [ "--template", "<dev>: <tx>kB/s|<rx>kB/s" ] 10
                    , Run Cpu ["-t", "cpu:<total>%","-H","50","--high","red"] 10
                    , Run Memory ["-t", "mem:<usedratio>%"] 10
                    , Run Wireless "wlp2s0" [ "-t", "WIFI:<essid>" ] 10
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <icon=haskell_20.xpm/> <fc=#d7d7d7>|</fc> %UnsafeStdinReader% }{%alsa:default:Master%<fc=#d7d7d7>|</fc> %dynnetwork% <fc=#ffff5f>%cpu%</fc> <fc=#ff5f87>%memory%</fc> <fc=#afd75f>%date%</fc> "
       }
